<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ROUTE FILTER</title>
</head>
<body>
<form action="" method="POST">
    {% csrf_token %}
   <div>
    <label for="country">Country</label>
    <select id="country" name="country">
        {% for country in country_list %}
        <option value="{{ country }}">{{ country }}</option>
        {% endfor %}
    </select>
  </div>
  <div>
    <label for="location">Start location</label>
    <input name="location" id="location" value="" />
  </div>
    <div>
    <label for="route_type">Route type</label>
    <select id="route_type" name="route_type">
        <option value="ALL">ALL</option>
        <option value="Foot">Foot</option>
        <option value="Car">Car</option>
        <option value="Bike">Bike</option>
    </select>
  </div>
    <button>Show results</button>
  </div>
</form>
</body>
</html>